<% include ./partials/header %>

<div class="container">
    <h1 class="text-center mb-4">Login</h1>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 ">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username" class="col-form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password" class="col-form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-success" value="Login"/>
                </div>
            </form>
            <div class="row justify-content-between">
                <a class="col-4 text-danger" href="/campgrounds">Go Back</a>
                <span class="col-6 text-right">
                    Not registered yet? <a class="text-success" href="./register">Sign Up</a>
                </span>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>