<% include ../partials/header %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1 class="text-white">Welcome to YelpCamp</h1>
            <p class="text-white">View our hand-picked camps from all over the world</p>
            <p>
                <a class="btn btn-success btn-lg" href="/campgrounds/new">Add New Campground!</a>
            </p>
        </div>
    </header>
    <h4>Our most popular campgrounds</h4>
    <hr>
        <div class="card-columns">
            <% campgrounds.forEach(function(campground){ %>
                <div class="card text-white bg-success mb-3">
                    <a href="/campgrounds/<%= campground._id %>"><img class="card-img-top" src="<%= campground.image %>" alt=""></a>
                    <div class="card-body text-center">
                        <p class="card-title"><strong><%= campground.name %></strong></p>
                        <p class="card-text">
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-light btn-sm">More Info</a>
                        </p>
                    </div>
                </div>
            <% }) %>
        </div>

    </div>

</div>

<% include ../partials/footer %>